body{
	background-color: #c2ffe2;
}

img{
	border-radius: 15px;
}

footer {
	text-align: center;
}

blockquote {
	color: red;
}

@media screen and (min-width: 800px){
	.grid{
		display: grid;
		grid-gap: 10px;
		padding: 10px;
	}
	
	.galery{
		grid-row: 2/3;
	}
	
	.columnsDiv{
		grid-row: 2/ span 2;
		grid-column: 2;
		column-count: 3;
		column-gap: 30px;
		column-width: 200px;
	}
	
	.pageHeader{
		grid-column: 2;
	}
}

@media screen and (max-width: 800px){
	.grid{
		display: grid;
		grid-gap: 10px;
		padding: 10px;
		grid-template-areas:
		"header"
		"content"
		"galery";
	}
	
	.galary{
		grid-area: galery;
	}
	
	.columnsDiv{
		column-count: 1;
		grid-area: content;
	}
}

.imgRight{
	float: right;
	
}
.imgLeft{
	float: left;
	border: 10px solid #00000000;
}

.header-img {
  width: 206px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  background: url('https://2ch.hk/b/thumb/149531524/14903817393210s.jpg');
  background-size: cover;
  border-radius: 10px;
  transform: rotate(7deg);
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
}

H1{
	text-align: center ;
	column-span: all
}